<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Amherst Scrutiny</title>
    <!-- remember to use style.min.css -->
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <!-- Need this  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- as well as production.min.js -->
    <!-- // <script src="./dist/production.min.js"></script> -->
    <script src='./javascripts/app.js'></script>
    <script src='./javascripts/services.js'></script>
  </head>

  <body ng-app="scrutiny" ng-controller='MainController'>
    <h1>Amherst Scrutiny</h1>
    <div id="container">
      <form ng-submit='searchResults()' class="searchForm" novalidate>
        <!-- Department -->
        <input type="text" name='department' placeholder='Department'
        ng-model='formData.department'>
        <!-- Class name -->
        <input type="text" name='classname' placeholder='Class Name'
        ng-model='formData.classname'>
        <!-- Class id -->
        <input type="text" name='classid' placeholder='Class Id'
        ng-model='formData.classId'>
        <!-- Semester -->
        <input type="text" name='semester' placeholder='Semester'
        ng-model='formData.semester'>
        <!-- Professor-->
        <input type="text" name='professor' placeholder='Professor' 
        ng-model='formData.professor'>

        <button type='submit' value='search'>Search</button>
        <div ng-if='searchForm.$dirty && searchForm.professor.$error.required'>
          Please enter a professor's name.
        </div>
      </form>
    </div>

    <!-- Results page -->
    <!-- =================================================================== -->
    <h1>Results</h1>
    
    <!-- Result based on form query -->
    <%= query.department %>
    <%= query.classid %>
    <%= query.classname %>
    <%= query.semester %>
    <%= query.professor %>

    <pre>
      <%= query %>
    </pre>
    <!-- <pre>
      {{dataToSend}}
    </pre> -->
    <!-- <ui-view></ui-view> -->

    <!--<script type='text/ng-template' id='/home.html'>
      <h1>Welcome to Amherst Scrutiny</h1>
    </script>-->
  </body>
</html>
